*{
    font-family: serif;
}
h1{
    color: red;
    font-weight: bold;
    font-size: 50px;
}
.colocacion{
    width: 990px;
    border: 1px solid black;
    margin: 15px auto;

}
body{
    background-image: url("imagenes/atomium_bruselas.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
}
.encabezado, section{
    display: block;
}
.encabezado{
    background-color: lightblue;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
.saludo{
    color: cyan;
    text-align: center;
}
.cuerpo{
    background-color: coral;
}
div{
    background: salmon;
}